<div id='login'>

  <form {{action 'authenticate' on='submit'}}>

    <div class="form-group">
      <label for="identification">Email</label>
      {{input value=identification placeholder='Enter Email'}}
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      {{input value=password placeholder='Enter Password' type='password'}}
    </div>

    <button type="submit">Login</button>

  </form>

</div>

